<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Shopahoilc : Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon_16.ico"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="js/site.min.js"></script>
        <link rel="stylesheet" href="css/site.min.css">
        <script type="text/javascript" src="js/signup_2.js"></script> 
    </head>
    <body data-ng-app="shoppingApplication">  
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Shopahoilc</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
                            <button type="button" class="btn btn-danger navbar-btn" onclick="document.location.href = 'index.html'">Log In</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row"></div>
            <div class="row">
                <div class="container-fluid col-sm-12">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div data-ng-controller="signupController" class="panel-group">
                            <div class="example col-sm-12" style="background-color: #A0D468;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="example-title" style="text-align: center">Payment Details</h1>
                                        <form name="myForm">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="cardNumber" data-ng-model="cardNumber" class="form-control" placeholder="Card Number" required style="text-align: center" my-directive>
                                                </div>

                                            </div>
                                            <div class="row" data-ng-show="myForm.cardNumber.$touched && myForm.cardNumber.$invalid &&  myForm.cardNumber.$error.lengthC">
                                                <div class="alert alert-danger col-md-12">
                                                    <strong>Error!</strong> The Credit card number should have 16 digits.
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="holderName" data-ng-model="holderName"class="form-control" placeholder="Card Holder Name" required style="text-align: center">
                                                </div>

                                            </div>
                                            <div class="row" ng-show="myForm.holderName.$touched && myForm.holderName.$invalid">
                                                <div class="alert alert-danger col-md-12">
                                                    <strong>Error!</strong> The name is required.
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="password" name="cvv" data-ng-model="cvv" class="form-control" placeholder="123" required style="text-align: center">
                                                </div>

                                            </div>
                                            <div class="row" ng-show="myForm.cvv.$touched && myForm.cvv.$invalid">
                                                <div class="alert alert-danger col-md-12">
                                                    <strong>Error!</strong> The cvv is required.
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="validFrom" data-ng-model="validFrom"class="form-control" placeholder="MM/YY" required style="text-align: center">
                                                </div>

                                            </div>
                                            <div class="row" ng-show="myForm.validFrom.$touched && myForm.validFrom.$invalid">
                                                <div class="alert alert-danger col-md-12">
                                                    <strong>Error!</strong> The valid from is required.
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="till" data-ng-model="validTill" class="form-control" placeholder="MM/YY" required style="text-align: center">
                                                </div>

                                            </div>
                                            <div class="row" ng-show="myForm.till.$touched && myForm.till.$invalid">
                                                <div class="alert alert-danger col-md-12">
                                                    <strong>Error!</strong> The valid till is required.
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button type="submit" name="action" data-ng-click="goBack()" value="user" class="btn btn-primary btn-block">Cancel</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="submit" name="action" data-ng-click="confirm()"value="organizer" class="btn btn-primary btn-block">Save Card</button>
                                                </div>
                                            </div>

                                            <div data-ng-show="showError">
                                                <div class="row">
                                                    <div class="alert alert-danger col-md-12">
                                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                        <strong>Error!</strong> {{error}}</div>
                                                </div>		

                                            </div>
                                            <div data-ng-show="showSuccess">
                                                <div class="row">
                                                    <div class="alert alert-success">
                                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                        <strong>Success!</strong> {{success}}            </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>
